
<div class="row center">
<div class="container col s12 m8 offset-m2">
  <div class="grid">
    <div class="row">
      <div class="col-md-12 content-center">
        <div class="card card-login card-plain">
          <form #loginForm="ngForm" class="form">
            <div class="content">
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                </div>
                <input type="text" id="name" [(ngModel)]="name"  name="name"  class="form-control"  placeholder="email..." (focus)="focus=true" (blur)="focus=false" >
              </div>
              <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                </div>
                <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Mot de passe..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
              </div>
            </div>
          </form>
            <div class="footer text-center center">
              <button (click)="onSubmit()" class="btn btn-primary btn-round btn-lg btn-block">  Connexion </button>
            </div>
            <div class="pull-left">
              <h6>
                <a routerLink="/forgotPass" class="link">Mot de passe moublié ?</a>
              </h6>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

